body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /*background-image: url("./assets/roux.png");*/
  background: linear-gradient(45deg, #134074, #0b2545);
  backdrop-filter: blur(5px);
}

.app {
  text-align: center;
  background-color: #eef4ed;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  width: 100%;
}

.app2 {
  text-align: center;
  background-color: #eef4ed;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  width: 100%;
  margin-top: 20px;
  max-height: 400px;
  padding: 20px;
}

/* App.css */

.file-upload {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: #8da9c4;
  color: #eef4ed;
  border-style: none;
  padding: 1em 2em;
  border-radius: 0.5em;
  overflow: hidden;
  z-index: 1;
  box-shadow: 4px 8px 10px -3px rgba(0, 0, 0, 0.356);
  transition: all 250ms;

}

.file-upload input[type="file"] {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.file-upload::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0;
  border-radius: 0.5em;
  background-color: #b4cbe0;
  z-index: -1;
  transition: all 350ms;
}

.file-upload:hover::before {
  width: 100%;
}


.upload-button {
  background-color: #8da9c4; /* Couleur de fond */
  color: white; /* Couleur du texte */
  padding: 10px 20px; /* Espacement intérieur */
  font-size: 16px; /* Taille de police */
  border: none; /* Supprimer la bordure */
  border-radius: 5px; /* Bordures arrondies */
  cursor: pointer; /* Curseur pointer */
  transition: background-color 0.3s ease; /* Transition fluide pour le survol */
}

.file-list {
  margin-bottom: 20px;
  overflow-y: scroll;
  max-height: 400px;
}

.file-list ul {
  list-style-type: none;
  padding: 0;
}

.file-list li {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
}

.file-list li:hover {
  background-color: #f9f9f9;
}

.file-list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

button {
  background-color: #8da9c4;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #798fa3;
}

.file-item-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
  background-color: #bfd4e7;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.file-item-container:hover {
  background-color: #e0e0e0;
}

.file-item {
  flex-grow: 1;
}
.delete-button {
  background-color: #f44336; /* Couleur de fond */
  color: white; /* Couleur du texte */
  padding: 5px 10px; /* Espacement intérieur */
  font-size: 12px; /* Taille de police */
  border: none; /* Supprimer la bordure */
  border-radius: 5px; /* Bordures arrondies */
  cursor: pointer; /* Curseur pointer */
  transition: background-color 0.3s ease; /* Transition fluide pour le survol */
}

.delete-button:hover {
  background-color: #d32f2f; /* Couleur de fond au survol */
}

.search-bar {
  margin-top: 20px;
  border: 2px solid transparent;
  width: 15em;
  height: 2.5em;
  padding-left: 0.8em;
  outline: none;
  overflow: hidden;
  background-color: #eef4ed;
  border-radius: 10px;
  transition: all 0.5s;
}

.search-bar:hover,
.search-bar:focus {
  border: 2px solid #4A9DEC;
  box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
  background-color: white;
}

.about-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.about-button:hover {
  background-color: #0056b3;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.close-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.close-button:hover {
  background-color: #c82333;
}
