body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.app {
  text-align: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  width: 100%;
}

/* App.css */

.file-upload {
  position: relative; /* Position relative pour permettre le positionnement absolu */
  overflow: hidden; /* Cacher le dépassement */
  display: inline-block; /* Affichage en ligne */
}

.file-upload input[type="file"] {
  position: absolute; /* Position absolue pour le cacher */
  opacity: 0; /* Opacité à zéro pour le cacher */
}

.upload-button {
  background-color: #4CAF50; /* Couleur de fond */
  color: white; /* Couleur du texte */
  padding: 10px 20px; /* Espacement intérieur */
  font-size: 16px; /* Taille de police */
  border: none; /* Supprimer la bordure */
  border-radius: 5px; /* Bordures arrondies */
  cursor: pointer; /* Curseur pointer */
  transition: background-color 0.3s ease; /* Transition fluide pour le survol */
}

.upload-button:hover {
  background-color: #45a049; /* Couleur de fond au survol */
}

.file-list {
  margin-bottom: 20px;
}

.file-list ul {
  list-style-type: none;
  padding: 0;
}

.file-list li {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
}

.file-list li:hover {
  background-color: #f9f9f9;
}

.pdf-viewer {
  border-top: 1px solid #ddd;
  padding-top: 20px;
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #45a049;
}

.file-list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.file-item {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
  background-color: #f0f0f0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.file-item:hover {
  background-color: #e0e0e0;
}
